<%= form_for(@payment_method) do |f| %>

  <div class="page-container01 user-setting">
    <div class="col-md-9  white-bg no-padding">
      <div class="pane-header">
        <h4>Payment</h4>
      </div>
      <% if payment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(payment_method.errors.count, "error") %> prohibited this payment from being saved:</h2>
          <ul>
            <% payment_method.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :stripe_card_token %>

      <div class="panel-body">
        <h4>Credit Card Type</h4>
        <div> 
            <a href="javascript:void(0);"><%= image_tag("visa.png") %></a> 
            <a href="javascript:void(0);"><%= image_tag("masterCard.png") %></a> 
            <a href="javascript:void(0);"><%= image_tag("ae.png") %></a> 
        </div>
        <div class="card-bg margintop-15">
          <div class="card-front">
            <div class="text-right"><img src="/assets/visa-logo.png" width="106" height="37"></div>
            <div class="row card-details">
              <div class="col-md-9">
                <div>CARD NUMBER</div>
                <div class="card-input-bg">
                  <%= f.text_field :card_number, class: "small", type: "text", placeholder: "XXXXX XXXXX XXXX XXXX" %>
                </div>
              </div>
            </div>
            <div class="row margintop30">
              <div class="col-md-8">
                <div>CARD HOLDER</div>
                <div class="card-input-bg">
                  <%= f.text_field :card_holder_name, type: "text", class: "text-left", placeholder: "e.g. NAME LASTNAME", style: "text-align:left;"%>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div>EXPIRATION DATE</div>
                  <div class="col-md-6">
                    <div class="card-input-bg">
                      <%= f.text_field :exp_month, type: "text", placeholder: "MM"%>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card-input-bg">
                      <%= f.text_field :exp_year, type: "text", placeholder: "YY"%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-back">
            <div class="">
              <div>CVC/CVV</div>
              <div class="card-input-bg">
                <%= f.text_field :cvv, type: "text", class: "text-left", placeholder: "XXXX-X"%>
              </div>
            </div>
          </div>
        </div>
      
      </div>
      <div class="panel-body">
        <div class="text-right">
          <%= f.submit "ACCEPT", class: "btn btn-solid"%>
        </div>
    </div>
    </div>
  </div>
<% end %>
