<%= form_for([@subscription.user, @subscription]) do |f| %>
  <div class="page-container01">
    <div class="col-md-12 white-bg no-padding">
      <div class="pane-header">
        <h4> Information </h4>
      </div>
      <div class="panel-body">
          <div class="col-md-2l-md-12">
            <p>Please provide the address of the location you want services for.<br />
            On the map you will find a tool to calculate the size of your property</p>
            <div class="form-group ">
              <div class="icon-addon addon-lg">
                <input type="text" id="map_address" placeholder="Address" onkeydown="if (event.keyCode == 13) return false">
              </div>
            </div>
            <div>
              <title>Drawing Tools</title>
                <div id="panel">
                  <%#*<div id="color-palette"></div>%>
                  <%#*<div>%>
                    <%#*<button id="delete-button">Delete Selected Shape</button>%>
                  <%#*</div>%>
                </div>
                <div id="map"></div>
            </div>
          <div class="row">
            <div class="col-md-6">Area: <span id="area_in_sq_f"></span> feet, <span id="area_in_acre"></span> acres</div>
            <%= f.fields_for :location, Location.new do | location| %>
              <%= location.hidden_field :name, class: "location_name", value: "test_name"%>
              <%= location.hidden_field :address, class: "location_address", value: 0 %>
              <%= location.hidden_field :city, class: "location_city" %>
              <%= location.hidden_field :state, class: "location_state" %>
              <%= location.hidden_field :country, class: "location_country" %>
              <%= location.hidden_field :latitude, class: "location_latitude" %>
              <%= location.hidden_field :longitude, class: "location_longitude" %>
              <%= location.hidden_field :zip, class: "location_zip" %>
              <%= location.hidden_field :area_in_acres, class: "feet_hidden_field", value: 0 %>
              <%= location.hidden_field :area_in_feet, class: "area_hidden_field", value: 0 %>
            <%= location.hidden_field :map_url, class: "map_url_hidden_field" %>
            <% end %>
            <div class="col-md-6 text-right"> <a href="javascript:void(0);" class="btn btn-small">Remove last Marker</a> <a href="javascript:void(0);" class="btn btn-small">Clear Markers</a> </div>
          </div>
        </div>
      </div>
      <div class="pane-header">
        <h4> Renew your plan </h4>
      </div>
      <div class="panel-body">
        <p>The landscaping plan consists on the following services. You can <br />
        choose the frequency that better fits your needs</p>
        <ul class="font-bold">
          <li>Mowing Fine Lawn Areas</li>
          <li>Trimming all turf borders as neccessary</li>
          <li>Cleaning all landscape areas of liter & debris</li>
          <li>Cleaning all paved areas of clippings & debris</li>
        </ul>
        <h1 class="head">Time span and frequency</h1>
        <p>Select the minimum plan term that you want to sign up <br />
        for. The frequency will only apply for this plan.</p>
      
        <!-- Tab Holder-->
        <div class="tab-holder">
          <ul class="nav nav-pills">
            <%= f.hidden_field :plan_id, id: "plan", value: Plan.first.id %>
            <% Plan.all.each do |plan| %>
              <li>
                <a class="tab", onclick="set_plan(<%= plan.id %>, this)", id=plan_<%= plan.id %>><%= plan.name %></a>
              </li>
            <% end %>
          </ul>
        </div>
        <div> 
        
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="plan">
              <div class="col-md-12">
                <%= f.hidden_field :sub_plan_id, id: "sub_plan", value: Subplan.first.id %>
                
                  <% Subplan.all.each do |subplan|%>
                  <div id="subplan_<%= subplan.id %>">
                    <div class="col-md-4 plan-holder">
                    <h2>
                      <% if subplan.name == "Monthly" %>
                        1 Month
                      <% elsif subplan.name == "Quaterly"%>
                        3 Months
                      <% else %>
                        6 Months
                      <% end %>
                    </h2>
                    <div class="plan-price">$<%= subplan.price %></div>
                    <div class="plan-service">/service <br />
                    (commitment <%= subplan.services_commited %> services)</div>
                    <div>
                      <div class="roundedOne">
                        <%= f.check_box :sub_plan_id_temp, include_hidden: false, :onclick => "set_sub_plan(#{subplan.id});", type: "checkbox", id: "plan0#{subplan.id}", value: '' %>
                        <label for="plan0<%= subplan.id %>"></label>
                      </div>
                    </div>
                
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <!-- Tab Holder End--> 
      </div>
      <!--Schedule -->
      <div class="pane-header">
        <h4> Schedule </h4>
      </div>
      <div class="panel-body">
        <h4>What day of the week is best for service?</h4>
        <div class="col-md-2"> </div>
        <div class="col-md-10">
          <input type="text" id="schedule_day" value="Monday" readonly>
          <%= f.hidden_field :schedule_id, id: "schedule_id", value: Service.first.id %>
          <div class="margintop-15">
            <% Schedule.all.each do |schedule| %>
              <a type="button" class="btn btn-bordered-small" onclick="set_schedule(<%= schedule.id %>, this, '<%= schedule.name %>')">
                <%= schedule.name %>
              </a>
            <% end %>
          </div>
        </div>
      </div>
      <!--Schedule End --> 
      <!-- Extra Services-->
      <div class="pane-header">
        <h4> Extra Services </h4>
      </div>
      <div class="panel-body">
        <h4>These services require their own schedule. Some require mul@ple<br />
        passes and some depend on the season to be scheduled.</h4>
        <div class="row">
          <div class="extra-services">
            <div class="white-bg container-fluid">
              <div class="col-md-5 scrollbar" id="content-2">
                <table cellpadding="0" cellspacing="0" class="extra-services-list">
                  <%= f.hidden_field :service_id, id: "service_id", value: Service.first.id %>
                  <% Service.all.each do |service| %>
                    <tr>
                      <td>
                        <div class="roundedOne">
                          <%= f.check_box :service_id_temp, include_hidden: false, class: "service_check", :onclick => "set_service(#{service.id});", type: "checkbox", id: "s#{service.id}", value: service.id %>
                          <label for="s<%= service.id %>"></label>
                        </div>
                      </td>
                      <td><%= service.service_name %></td>
                    </tr>
                  <% end %>
                </table>
              </div>
              <div class="col-md-7 selected-service"> 
                 <!-- <h2 class="service-text-add">ADD AN EXTRA SERVICE</h2> -->
                <div class="service01 services-details">
                  <h3>Description</h3>
                  <p>Edging of flower beds to maintain neat appearance.</p>
                  <h3>Service Setup</h3>
                  <div>
                    <div class="select-service has-success has-feedback">
                      <div>
                        <input type="text" class="form-control" placeholder="When do you want us to provide the service?" id="inputSuccess">
                        <span class="fa fa-calendar-o form-control-feedback"></span> </div>
                      </div>
                    </div>
                    <div class="col-md-12 service-pic">
                    <div class="col-md-5"> <img src="/assets/tree.png" width="100%">
                      <div class="service-name">Spring</div>
                    </div>
                    <div class="col-md-5"><img src="/assets/tree.png"  width="100%">
                      <div class="service-name">Spring & Mid Summer</div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="note">* Pricing will depend on the ammount of man hours it takes to complete the job.</div>
                  <div class="text-right">
                    <button class="btn btn-add-gray">ADD</button>
                  </div>
                </div>
                <div class="service02 services-details">
                  <h3>Description</h3>
                  <p>Properly trim shrubs to proper size and shape.</p>
                  <h3>Service Setup</h3>
                  <div>
                    <div class="select-service has-success has-feedback">
                      <div>
                        <input type="text" class="form-control" placeholder="When do you want us to provide the service?" id="inputSuccess">
                        <span class="fa fa-calendar-o form-control-feedback"></span> </div>
                    </div>
                  </div>
                  <div class="col-md-12 service-pic">
                    <div class="col-md-5"> <img src="/assets/tree.png" width="100%">
                      <div class="service-name">Spring</div>
                    </div>
                    <div class="col-md-5"><img src="/assets/tree.png"  width="100%">
                      <div class="service-name">Spring & Mid Summer</div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="form-group margintop-15 select">
                    <select class="form-control">
                      <option>What Shrubs need trimming?</option>
                      <option>All</option>
                      <option>Specify</option>
                    </select>
                  </div>
                  <div class="clearfix"></div>
                  <label>Please describe the location around the house</label>
                  <div class="form-group">
                    <textarea class="textarea"></textarea>
                  </div>
                  <div class="note">* Pricing will depend on the ammount of man hours it takes to complete the job.</div>
                  <div class="text-right">
                    <button class="btn btn-add-gray">ADD</button>
                  </div>
                </div>
                <div class="service03 services-details">
                  <h3>Description</h3>
                  <p>Edging of flower beds to maintain neat appearance.</p>
                  <h3>Service Setup</h3>
                  <div>
                    <div class="select-service has-success has-feedback">
                      <div>
                        <input type="text" class="form-control" placeholder="When do you want us to provide the service?" id="inputSuccess">
                        <span class="fa fa-calendar-o form-control-feedback"></span> </div>
                      </div>
                    </div>
                  <div class="col-md-12 service-pic">
                    <div class="col-md-5"> <img src="/assets/tree.png" width="100%">
                      <div class="service-name">Spring</div>
                    </div>
                    <div class="col-md-5"><img src="/assets/tree.png"  width="100%">
                      <div class="service-name">Spring & Mid Summer</div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="form-group margintop-15 select">
                    <select class="form-control">
                      <option>What Shrubs need trimming?</option>
                      <option>All</option>
                      <option>Specify</option>
                    </select>
                  </div>
                  <div class="clearfix"></div>
                  <label>Please describe the location around the house</label>
                  <div class="form-group">
                    <textarea class="textarea"></textarea>
                  </div>
                  <div class="note">* Pricing will depend on the ammount of man hours it takes to complete the job.</div>
                  <div class="text-right">
                    <button class="btn btn-add-gray">ADD</button>
                  </div>
                </div>
                <div class="service04 services-details">
                  <h3>Description</h3>
                  <p>Provide professional installa5on of plant material</p>
                  <h3>Service Setup</h3>
                  <div>
                    <div class="select-service has-success has-feedback">
                      <div>
                        <input type="date" class="form-control" placeholder="What week do you want us to do planting?" id="inputSuccess">
                        <span class="fa fa-calendar-o form-control-feedback"></span> </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="note">* Pricing will depend on the ammount of man hours it takes to complete the job.</div>
                      <div class="text-right">
                        <button class="btn btn-add-gray">ADD</button>
                      </div>
                    </div>
                    <div class="service05 services-details">
                      <h3>Description</h3>
                      <p>Gently Mulch all plant beds to accommodate neat appearance.</p>
                      <h3>What type of mulch are you looking for?</h3>
                      <div class="clearfix"></div>
                      <div class="row mulch-holder" id="content-1">
                        <ul>
                          <li>
                            <div class="row">
                              <div class="col-md-9"> <i class="service-line service-green"></i> Cocoa Mulch <small>$64 / yard</small> </div>
                              <div class="col-md-3">
                                <div class="roundedOne">
                                  <input type="checkbox" value="None" id="s9" />
                                  <label for="s9"></label>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="row">
                              <div class="col-md-9"> <i class="service-line service-green"></i> Straw <small>$64 / yard</small> </div>
                              <div class="col-md-3">
                                <div class="roundedOne">
                                  <input type="checkbox" value="None" id="s10" />
                                  <label for="s10"></label>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="row">
                              <div class="col-md-9"> <i class="service-line service-green"></i> Grass Clippings <small>$64 / yard</small> </div>
                              <div class="col-md-3">
                                <div class="roundedOne">
                                  <input type="checkbox" value="None" id="s11" />
                                  <label for="s11"></label>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="row">
                              <div class="col-md-9"> <i class="service-line service-green"></i> Compost <small>$64 / yard</small> </div>
                              <div class="col-md-3">
                                <div class="roundedOne">
                                  <input type="checkbox" value="None" id="s12" />
                                  <label for="s12"></label>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="row">
                              <div class="col-md-9"> <i class="service-line service-green"></i> Pine Straw <small>$64 / yard</small> </div>
                              <div class="col-md-3">
                                <div class="roundedOne">
                                  <input type="checkbox" value="None" id="s13" />
                                  <label for="s13"></label>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="row">
                              <div class="col-md-9"> <i class="service-line service-green"></i> Cocoa Mulch <small>$64 / yard</small> </div>
                              <div class="col-md-3">
                                <div class="roundedOne">
                                  <input type="checkbox" value="None" id="s14" />
                                  <label for="s14"></label>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div>
                        <div class="select-service has-success has-feedback">
                          <div>
                            <input type="text" class="form-control" placeholder="When do you want us to provide the service?" id="inputSuccess">
                            <span class="fa fa-calendar-o form-control-feedback"></span> </div>
                        </div>
                      </div>
                      <div class="col-md-12 service-pic">
                        <div class="col-md-5"> <img src="/assets/tree.png" width="100%">
                          <div class="service-name">Spring</div>
                        </div>
                        <div class="col-md-5"><img src="/assets/tree.png"  width="100%">
                          <div class="service-name">Spring & Mid Summer</div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="note">* We recommend edging of shrub & plant beds before mulching.</div>
                      <div class="text-right">
                        <button class="btn btn-add-gray">ADD</button>
                      </div>
                    </div>
                    <div class="service06 services-details">
                      <h3>Description</h3>
                      <p>Efficiently clean all guBers and grates of leaves and debris</p>
                      <h3>Service Setup</h3>
                      <div>
                        <div class="select-service has-success has-feedback">
                          <div>
                            <input type="text" class="form-control" placeholder="Efficiently clean all guBers and grates of leaves and debris" id="inputSuccess">
                            <span class="fa fa-calendar-o form-control-feedback"></span> </div>
                        </div>
                      </div>
                      <br />
                      <br />
                      <br />
                      <br />
                      <br />
                      <div class="clearfix"></div>
                      <div class="note">* Pricing will depend on the ammount of man hours it takes to complete the job.</div>
                      <div class="text-right">
                        <button class="btn btn-add-gray">ADD</button>
                      </div>
                    </div>
                    <div class="service07 services-details">7</div>
                    <div class="service08 services-details">8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Extra Services End-->
    
          <div class="pane-header">
            <h4> Summary </h4>
          </div>
          <div class="panel-body">
            <h1 class="summary-title">Billing Review</h1>
            <div class="extra-services row">
              <div class="col-md-2"></div>
              <div class="billing-summary col-md-10">
                <div class="col-md-5">
                  <h5>Plan</h5>
                  <p>Bi-Weekly Landscaping Plan Minimum 6 months</p>
                  <h5>Property</h5>
                  <p>0.28 Acres</p>
                </div>
                <div class="col-md-5">
                  <h5>Billing</h5>
                  <table cellpadding="0" cellspacing="0" class="billing-total">
                    <tr>
                      <td>Lanscaping Package</td>
                      <td>$55</td>
                    </tr>
                    <tr class="border-bottom">
                      <td>Fee</td>
                      <td>$3</td>
                    </tr>
                    <tr class="border-bottom">
                      <td class="font-lato-regulor">Recurring Weekly total</td>
                      <td class="font-lato-regulor">$58</td>
                    </tr>
                    <tr>
                      <td class="font-lato-regulor">Today's total</td>
                      <td class="font-lato-regulor">$58</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-save-continue"><%= f.submit "save & continue" %></div>
        </div>
      </div>
<% end %>

<script type="text/javascript">
  var drawingManager;
  var selectedShape;
  var colors = ['#1E90FF', '#FF1493', '#32CD32', '#FF8C00', '#4B0082'];
  var selectedColor;
  var colorButtons = {};
  function clearSelection() {
    if (selectedShape) {
      selectedShape.setEditable(false);
      selectedShape = null;
    }
  }
  function setSelection(shape) {
    clearSelection();
    selectedShape = shape;
    shape.setEditable(true);
    selectColor(shape.get('fillColor') || shape.get('strokeColor'));
    google.maps.event.addListener(shape.getPath(), 'set_at', calcar);
    google.maps.event.addListener(shape.getPath(), 'insert_at', calcar);
  }
  function calcar() {
      var area = google.maps.geometry.spherical.computeArea(selectedShape.getPath());
      document.getElementById("area").innerHTML = "Area =" + area.toFixed(2);
      console.log(area.toFixed(2));
  }
  function deleteSelectedShape() {
    if (selectedShape) {
      selectedShape.setMap(null);
    }
  }
  function selectColor(color) {
    selectedColor = color;
    for (var i = 0; i < colors.length; ++i) {
      <%#*var currColor = colors[i];%>
      <%#*colorButtons[currColor].style.border = currColor == color ? '2px solid #789' : '2px solid #fff';%>
    }
    // Retrieves the current options from the drawing manager and replaces the
    // stroke or fill color as appropriate.
    var polylineOptions = drawingManager.get('polylineOptions');
    polylineOptions.strokeColor = color;
    drawingManager.set('polylineOptions', polylineOptions);
    var rectangleOptions = drawingManager.get('rectangleOptions');
    rectangleOptions.fillColor = color;
    drawingManager.set('rectangleOptions', rectangleOptions);
    var circleOptions = drawingManager.get('circleOptions');
    circleOptions.fillColor = color;
    drawingManager.set('circleOptions', circleOptions);
    var polygonOptions = drawingManager.get('polygonOptions');
    polygonOptions.fillColor = color;
    drawingManager.set('polygonOptions', polygonOptions);
  }
  function setSelectedShapeColor(color) {
    if (selectedShape) {
      if (selectedShape.type == google.maps.drawing.OverlayType.POLYLINE) {
        selectedShape.set('strokeColor', color);
      } else {
        selectedShape.set('fillColor', color);
      }
    }
  }
  function makeColorButton(color) {
    var button = document.createElement('span');
    button.className = 'color-button';
    button.style.backgroundColor = color;
    google.maps.event.addDomListener(button, 'click', function() {
      selectColor(color);
      setSelectedShapeColor(color);
    });
    return button;
  }
  function buildColorPalette() {
    <%#*var colorPalette = document.getElementById('color-palette');%>
    <%#*for (var i = 0; i < colors.length; ++i) {%>
      <%#*var currColor = colors[i];%>
      <%#*var colorButton = makeColorButton(currColor);%>
      <%#*colorPalette.appendChild(colorButton);%>
      <%#*colorButtons[currColor] = colorButton;%>
    <%#*}%>
    selectColor(colors[0]);
  }
  
  function get_address_components(place){
    var address_components = place.address_components;
    var location_address = "";
    var location_city = "";
    var location_state = "";
    var location_zip = "";
    var location_country = "";        
    if(address_components !== null && address_components.length > 0){
      $.each(address_components, function( index, value ) {
        if(value.types[0] && (value.types[0] === "street_number" || value.types[0] === "route") ){
          location_address += value.long_name + " ";
        }
        
        if(value.types[0] && value.types[0] === "administrative_area_level_1"){
          location_city = value.long_name;
        }
        
        if(value.types[0] && value.types[0] === "administrative_area_level_1"){
          location_state = value.short_name;
        }
        
        if(value.types[0] && value.types[0] === "postal_code"){
          location_zip = value.long_name;
        }
        
        if(value.types[0] && value.types[0] === "country"){
          location_country = value.short_name;
        }
      });
    }
    $("#subscription_location_attributes_address").val($.trim(location_address));
    $("#subscription_location_attributes_city").val(location_city);
    $("#subscription_location_attributes_state").val(location_state);
    $("#subscription_location_attributes_zip").val(location_zip);
    $("#subscription_location_attributes_country").val(location_country);
    $("#subscription_location_attributes_latitude").val(place.geometry.location.lat());
    $("#subscription_location_attributes_longitude").val(place.geometry.location.lng());
    $("#subscription_location_attributes_map_url").val(place.url);
  }
  
  function initialize() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: new google.maps.LatLng(40.71, -74.00),
      mapTypeId: google.maps.MapTypeId.HYBRID,
      disableDefaultUI: true,
      zoomControl: true
    });
    var polyOptions = {
      strokeWeight: 0,
      fillOpacity: 0.45,
      editable: true
    };
    // Creates a drawing manager attached to the map that allows the user to draw
    // markers, lines, and shapes.
    drawingManager = new google.maps.drawing.DrawingManager({
      drawingMode: google.maps.drawing.OverlayType.POLYGON,
      markerOptions: {
        draggable: true
      },
      polylineOptions: {
        editable: true
      },
      drawingControlOptions: {
        position: google.maps.ControlPosition.TOP_LEFT  ,
        drawingModes: ['marker', 'polygon', 'polyline']
      },   
      rectangleOptions: polyOptions,
      circleOptions: polyOptions,
      polygonOptions: polyOptions,
      map: map
    });
    google.maps.event.addListener(drawingManager, 'overlaycomplete', function(e) {
      if (e.type != google.maps.drawing.OverlayType.MARKER) {
        // Switch back to non-drawing mode after drawing a shape.
        drawingManager.setDrawingMode(null);
        // Add an event listener that selects the newly-drawn shape when the user
        // mouses down on it.
        var newShape = e.overlay;
        newShape.type = e.type;
        google.maps.event.addListener(newShape, 'click', function() {
          setSelection(newShape);
        });
        var area = google.maps.geometry.spherical.computeArea(newShape.getPath());
        var area_in_sq_m = area.toFixed(2);
        var area_in_sq_f = (area * 10.764).toFixed(2);
        var area_in_acre = (area * 0.00024711).toFixed(2);
        document.getElementById("area_in_sq_f").innerHTML = area_in_sq_f;
        document.getElementById("area_in_acre").innerHTML = area_in_acre;
        $("#subscription_location_attributes_area_in_feet").val(area_in_sq_f);
        $("#subscription_location_attributes_area_in_acres").val(area_in_acre);
        setSelection(newShape);
      }
    });
    // Clear the current selection when the drawing mode is changed, or when the
    // map is clicked.
    google.maps.event.addListener(drawingManager, 'drawingmode_changed', clearSelection);
    google.maps.event.addListener(map, 'click', clearSelection);
    <%#*google.maps.event.addDomListener(document.getElementById('delete-button'), 'click', deleteSelectedShape);%>
    buildColorPalette();
  
    // Create the search box and link it to the UI element.
    var input = document.getElementById('map_address');
    var searchBox = new google.maps.places.SearchBox(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });
    var markers = [];
    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }

      // Clear out the old markers.
      markers.forEach(function(marker) {
        marker.setMap(null);
      });
      markers = [];

      // For each place, get the icon, name and location.
      var bounds = new google.maps.LatLngBounds();
      places.forEach(function(place) {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
        var icon = {
          url: place.icon,
          size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(17, 34),
          scaledSize: new google.maps.Size(25, 25)
        };
        console.log(place.geometry.location);
        get_address_components(place);
        // Create a marker for each place.
        markers.push(new google.maps.Marker({
          map: map,
          icon: icon,
          title: place.name,
          position: place.geometry.location
        }));
        if (place.geometry.viewport) {
          // Only geocodes have viewport.
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      map.fitBounds(bounds);
    });  
  }
  google.maps.event.addDomListener(window, 'load', initialize);
  google.maps.event.addDomListener(window, 'turbolinks:load', initialize);

</script>
<script type="text/javascript">
  $( document ).ready(function() {
    $(".service01, .service02, .service03, .service04, .service05, .service06, .service07, .service08").hide();
    $("#plan_1").removeClass("tab");
    $("#plan_1").addClass("tab active");
    $("#subplan_1").show();
    $("#subplan_2").show();
    $("#subplan_3").show();
    $("#subplan_4").hide();
    $("#subplan_5").hide();
    $("#subplan_6").hide();
  });
  $("#plan_2").click(function () {
    $("#subplan_1").hide();
    $("#subplan_2").hide();
    $("#subplan_3").hide();
    $("#subplan_4").show();
    $("#subplan_5").show();
    $("#subplan_6").show();
  });
  $("#plan_1").click(function () {
    $("#subplan_1").show();
    $("#subplan_2").show();
    $("#subplan_3").show();
    $("#subplan_4").hide();
    $("#subplan_5").hide();
    $("#subplan_6").hide();
  });
  $(".service_check").click(function () {
    if ($("#s1").is(":checked")) {
      $(".service02, .service03, .service04, .service05, .service06, .service07, .service08").hide();
      $(".service1").show();
    }else if ($("#s2").is(":checked")){
      $(".service01, .service03, .service04, .service05, .service06, .service07, .service08").hide();
      $(".service02").show();
    }else if ($("#s3").is(":checked")){
      $(".service01, .service02, .service04, .service05, .service06, .service07, .service08").hide();
      $(".service03").show();
    }else if ($("#s4").is(":checked")){
      $(".service01, .service02, .service03, .service05, .service06, .service07, .service08").hide();
      $(".service04").show();
    }else if ($("#s5").is(":checked")){
      $(".service01, .service02, .service03, .service04, .service06, .service07, .service08").hide();
      $(".service05").show();
    }else if ($("#s6").is(":checked")){
      $(".service01, .service02, .service03, .service04, .service05, .service07, .service08").hide();
      $(".service06").show();
    }else if ($("#s7").is(":checked")){
      $(".service01, .service02, .service03, .service04, .service05, .service06, .service08").hide();
      $(".service07").show();
    }else if ($("#s7").is(":checked")){
      $(".service01, .service02, .service03, .service04, .service05, .service06, .service07").hide();
      $(".service08").show();
    }
  });
  $(function () {
    $("#s1").click(function () {
      if ($(this).is(":checked")) {
        $(".service01").toggle();
          $(".service02", ".service03",".service04",".service05",".service06",".service07",".service08").hide();
                } else {
                    $(".service01").hide();
                }
            });
      
      
        });
    $(window).on("load",function(){
  
  
  
  $("#content-1").mCustomScrollbar({
    live:true,
    theme:"minimal"
  });
  $("#content-2").mCustomScrollbar({
    live:true,
    theme:"minimal"
  });
});
    </script>