<% if @subscriptions.empty? %> 
  <div class="page-container01">
    <div class="col-md-12 white-bg no-padding">    
      <div class="pane-header">
        <h4></h4>
      </div>  
      <div style="margin-top: 40px; margin-left: 50px;">  
        <div class="big-text">You don't have any services scheduled</div>
        <p class="mid-text">Sign up to one of our plans to have full coverage for your <br />backyard and landscape.</p>

        <p><%= link_to "Book service", new_user_subscription_path(current_user.id), class: "btn btn-book-service" %></p>
      </div>  
    </div> 
  </div>
<% else %>
  <div class="page-container">
    <div class="col-md-6">
        <% @subscriptions.each do |subscription|%>
          <% next if(subscription.location.address == "" || subscription.location.address == "0") %>
          <div class="list-panel">
              <div class="list-panel-header"></div>
              <div class="list-body">
                  <div class="row">
                      <div class="col-md-9">
                          <div class="list-date"><%= subscription.created_at.strftime("%m/%d/%Y") %></div>
                          <div class="list-text"><%= subscription.location.address %> <br /> <%= subscription.plan.name %> </div>
                      </div>
                      <div class="col-md-3 text-right">
                          <a href="<%= user_subscription_path(current_user.id, subscription.id) %>" class="btn btn-view view-subscription" data-remote="true">VIEW</a>
                      </div>
                  </div>
                  <div class="service">
                      <i class="service-line service-green"></i> 
                      <h4><%= truncate(subscription.service.service_name) %></h4>
                  </div>
                  <div class="clearfix"></div>
              </div>
          </div>
        <% end %>
    </div>
    <div id="show_sub"></div> 
  </div>
<% end %>


<%= render 'subscription_data_modal' %>
<script type="text/javascript">
    $('.left-sidebar li.active').removeClass('active');
    $("li.service_tab").addClass('active');
</script>  