<div class="page-container">
   <!-- List Start-->
   <div class="col-md-6">
      <h4><strong>Payment method</strong></h4>
      <div class="font-bold">
         <table cellpadding="0" cellspacing="0" width="100%">
          <% @payment_methods.each do |method| %>
            <tr>
               <td><img src="/assets/visa.png" width="50"></td>
               <td><%= method.card_number %></td>
               <td><%= method.card_holder_name %></td>
               <td class="text-right"><a href="<%= edit_payment_method_path(method.id) %>" class="btn btn-view">EDIT</a></td>
            </tr>
          <% end %>
         </table>
      </div>
      <h4 class="text-right"><%= link_to 'Add Payment Method', new_payment_method_path,data: { no_turbolink: true }, class: 'add_payment' %>
</h4>
      <h4><strong>Service history</strong></h4>
      <% @payments.each do |payment| %>
        <div class="list-panel">
         <div class="list-panel-header-gray"></div>
         <div class="list-body">
            <div class="row">
               <div class="col-md-9">
                  <div class="list-date"><%= payment.created_at.strftime("%m/%d/%Y") %></div>
                  <div class="list-text">10:00 AM - 12:00PM</div>
                  <% if payment.location_id.nil? == false %>
                    <div><%= payment.address %><br>Weekly Service</div>
                  <% end %>
               </div>
               <div class="col-md-3 text-right">
                   <a href="<%= user_subscription_payment_path(payment.user_id, payment.subscription_id, payment.id) %>" class="btn btn-view" data-remote="true">VIEW</a>
                  <div class="list-text text-right" style="text-align:center;">$50</div>
               </div>
            </div>
            <div class="service">
               <i class="service-line service-green"></i> 
               <h4>Weekly Maintenance</h4>
            </div>
            <div class="clearfix"></div>
         </div>
        </div>
      <% end %>
   </div>
   <!-- List End-->
   <div id="show_payment">
      <% if @payments.size > 0 %> 
        <%= render 'show' %>
      <% end %> 
   </div>
</div>
<!-- Login Form End-->
<div class="clearfix"></div>

<script type="text/javascript">
    $('.left-sidebar li.active').removeClass('active');
    $("li.payment").addClass('active');
</script>    