<div class="page-container01">
    <div class="col-md-12 white-bg">
        <table cellpadding="0" cellspacing="0" class="table" width="100%">
            <tr>
                <td class="text-left"><strong>Address</strong></td>
                <td class="text-right"><strong>Action</strong></td>
            </tr>
        </table>
        <div class="panel-group locations" id="accordion" role="tablist" aria-multiselectable="false">
            <% @locations.each do |location| %>
            <% next if (location.address == "0" || location.address == "") %>
            <div class="location">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <table cellpadding="0" cellspacing="0" class="accordin-table">
                            <tr>
                                <td><%= location.address %></td>
                                <td class="text-right">
                                    <a class="asd" role="button" data-toggle="collapse" onclick="init_map(this, <%= location.id %>)"
                                      data-parent="#accordion" href="#collapse<%= location.id %>" 
                                      aria-expanded="true" aria-controls="collapseOne"> 
                                      EDIT 
                                    </a>
                                </td>
                            </tr>
                        </table>

                    </h4>
                </div>
                <div id="collapse<%= location.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body location-map">
                        <div><div class="form-group">
                                <div class="icon-addon addon-lg">
                                    <input type="text" placeholder="<%= location.address %>" class="form-control">
                                    <label for="email" class="glyphicon glyphicon-search"></label>
                                </div>
                            </div></div>
                        <div>
                            <div id="map" data-title="<%= location.address %>" data-lat="<%= location.latitude %>" data-lng="<%= location.longitude %>"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">Area: <%= location.area_in_feet %> feet, <%= location.area_in_acres %> acres</div>
                            <div class="col-md-6 text-right">
                                <a href="javascript:void(0);" class="btn btn-small">Remove last Marker</a>
                                <a href="javascript:void(0);" class="btn btn-small">Clear Markers</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
  $('.left-sidebar li.active').removeClass('active');
  $("li.location_tab").addClass('active');
  <%#*$( ".location" ).each(function( index ) {%>
    
  function init_map(ctrl, location_id){ 
    $("#collapse"+location_id).collapse("toggle");
    var map_dom = $(ctrl).closest(".location").find("#map");
    var myLatLng = {lat: parseFloat(map_dom.attr("data-lat")), lng: parseFloat(map_dom.attr("data-lng"))};

    var map = new google.maps.Map(map_dom[0], {
      zoom: 15,
      center: myLatLng,
      mapTypeId: google.maps.MapTypeId.HYBRID
    });
    
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: map_dom.attr("data-title")
    });  
  }  
  <%#*});%>
</script>