<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>City:</b>
  <%= @location.city %>
</p>

<p>
  <b>State:</b>
  <%= @location.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @location.zip %>
</p>

<p>
  <b>Country:</b>
  <%= @location.country %>
</p>

<p>
  <b>Area:</b>
  <%= @location.area %>
</p>

<p>
  <b>Acres:</b>
  <%= @location.acres %>
</p>


<%= link_to 'Edit', edit_user_location_path(@location.user, @location) %> |
<%= link_to 'Back', user_locations_path(@location.user) %>
