<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>New Signup</title>
<%= javascript_include_tag 'application' %>
<!-- Bootstrap -->
<%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-eval' => false %>

<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="page-bg" style="padding-top: 0px;">
<!--Header Start--> 

<!-- Login Form Start-->

<div class="page-container01">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :onsubmit => "return signup_validation()" }) do |f| %>  
    <div class="col-md-9  white-bg no-padding">
    <div class="pane-header">
      <div class="pull-right header-navigation"> <a href="#">+1(646)681-3626</a> <a href="#">INFO@SNAPFOURSERVICE.COM</a> <a href="#" class="btn login-button">Login</a> </div>
    </div>
    <div class="pane-header">
      <h4> Profile </h4>
    </div>
    <div class="panel-body">
      <div class="row ">
        <div class="col-md-12 sign-up-form user-setting">
          <div class="row">
            <%= hidden_field_tag :subcription_id, params[:id] %>  
            <div class="col-md-12">
              <h3 class="font-lato-regulor">Please provide your information to create an account</h3>
            </div>
            <div class="form-group col-md-6">
              <%= f.text_field :email, class: "form-control", type: "text", placeholder: "Email" %>
            </div>
            <div class="form-group col-md-6">
              <%= f.text_field :first_name, class: "form-control", type: "text", placeholder: "Name" %>
            </div>
            <div class="form-group col-md-6">
              <%= f.text_field :password, class: "form-control", type: "password", placeholder: "Password" %>
            </div>
            <div class="form-group col-md-6">
              <%= f.text_field :last_name, class: "form-control", type: "text", placeholder: "Last Name" %>  
            </div>
            <div class="form-group col-md-6">
              <input type="password" class="form-control" id="user_confirm_password" placeholder="Type your password again">
            </div>
            <div class="form-group col-md-6">
                <%= f.text_field :phone, class: "form-control", type: "text", placeholder: "Phone number" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pane-header">
      <h4> Payment </h4>
    </div>
    <div class="panel-body">
      <h4>Credit Card Type</h4>
      <div> 
          <a href="javascript:void(0);"><img src="/assets/visa.png" width="94" height="58" alt="Visa"></a> 
          <a href="javascript:void(0);"><img src="/assets/masterCard.png" alt="Visa"></a> 
          <a href="javascript:void(0);"><img src="/assets/ae.png"  alt="Visa"></a> 
      </div>
      <div class="card-bg margintop-15">
        <div class="card-front">
          <div class="text-right">
              <%= hidden_field_tag :price, @subscription.price %>  
              <%= hidden_field_tag :recurring_fee, @subscription.recurring_fee %>  
              <%= hidden_field_tag :processing_fee, @subscription.processing_fee %>  
              <img src="/assets/visa-logo.png" width="106" height="37">
          </div>
          <div class="row card-details">
            <div class="col-md-9">
              <div>CARD NUMBER</div>
              <div class="card-input-bg">
                <input class="small" name="card_number" type="text" placeholder="XXXXX XXXXX XXXX XXXX">
              </div>
            </div>
          </div>
          <div class="row margintop30">
            <div class="col-md-8">
              <div>CARD HOLDER</div>
              <div class="card-input-bg">
                <input type="text" name="card_holder_name" class="text-left" placeholder="e.g. NAME LASTNAME" style="text-align:left;">
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div>EXPIRATION DATE</div>
                <div class="col-md-6">
                  <div class="card-input-bg">
                    <input type="text" name="exp_month" placeholder="MM">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-input-bg">
                    <input type="text" name="exp_year" placeholder="YY">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-back">
          <div class="">
            <div>CVC/CVV</div>
            <div class="card-input-bg">
              <input type="text" name="cvc" class="text-left" placeholder="XXXX-X">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="panel-body">
      <h1 class="summary-title">Billing Review</h1>
      <div class="extra-services row">
        <div class="col-md-2"></div>
        <div class="billing-summary col-md-10">
          <div class="col-md-5">
            <h5>Plan</h5>
            <p><%= @subscription.plan.name %> Landscaping Plan Minimum <%= @subscription.subplan.get_sub_plan_month %> months</p>
            <h5>Property</h5>
            <p><%= @subscription.location.area_in_acres %> Acres</p>
          </div>
          <div class="col-md-5">
            <h5>Billing</h5>
            <table cellpadding="0" cellspacing="0" class="billing-total">
              <tr>
                <td>Landscaping Package</td>
                <td>$<%= @subscription.price.to_f %></td>
              </tr>
              <tr class="border-bottom">
                <td>Fee</td>
                <td>$<%= @subscription.processing_fee.to_f %></td>
              </tr>
              <tr>
                <td class="font-lato-regulor">Today's total</td>
                <td class="font-lato-regulor">$<%= @subscription.get_total_price %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-save-continue"><%= f.submit "COMPLETE", style: "border: none;background: #d8d8d8;" %></div>
  </div>
  <% end %>
</div>
<!-- Login Form End-->
<div class="clearfix"></div>
<!-- Slider Start--> 

<!-- Slider End--> 

<script type="text/javascript">
  $("input[type='submit']").removeAttr('data-disable-with');
  $(window).on("load",function(){
    $("#content-1").mCustomScrollbar({
            live:true,
            theme:"minimal"
    });
    $("#content-2").mCustomScrollbar({
            live:true,
            theme:"minimal"
    });
  });
</script>
</body>
</html>